<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentLog</servlet-name>
        <servlet-class>servlets.StudentLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitquiz1</servlet-name>
        <servlet-class>servlets.submitquiz1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitquiz2</servlet-name>
        <servlet-class>servlets.submitquiz2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitquiz3</servlet-name>
        <servlet-class>servlets.submitquiz3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitquiz4</servlet-name>
        <servlet-class>servlets.submitquiz4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statistics</servlet-name>
        <servlet-class>servlets.statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLog</servlet-name>
        <url-pattern>/StudentLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitquiz1</servlet-name>
        <url-pattern>/submitquiz1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitquiz2</servlet-name>
        <url-pattern>/submitquiz2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitquiz3</servlet-name>
        <url-pattern>/submitquiz3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitquiz4</servlet-name>
        <url-pattern>/submitquiz4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statistics</servlet-name>
        <url-pattern>/statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
